# Project Title

Contract Source Verification Network

# Submission title
> Make a unique title that's different from your project name and reflects what you're asking funding for

Stellar Registry Source Verification Hub + network of independent source verification services

# One Sentence Description
> Use less than 130 characters to describe the products/services you`re planning to build in your submission, how it works, and your target audience. This is your opportunity to capture the attention of your reader and gain buy-in! A frequently used format is: “Develops/Offers/Gives/etc. _(a defined offering)_ to help/support _(a defined audience)_ _(solve a problem)_ with _(secret sauce)_”. Read more about this format and see examples in this blog post.
        	

# Code URL
> Enter the URL of the relevant github page.	


# Video URL
> This is your elevator pitch: keep it short (<3 min), powerful, and clearly demonstrate the project's features and functionality. Upload your demo video on Youtube or Vimeo with a 16:9 aspect ratio (ideally 1920px by 1080px).


# Soroban

Yes


# Product and Services
> Briefly describe the to be added / improved products and services by this submission. Keep it succinct, and for each feature add how Stellar is used and how the improvements will impact your project.


# Traction Evidence
> Provide evidence of prior traction or validation. Include users, community size, partnerships, KPIs (TVL...), beta testers to demonstrate adoption, market interest, and project credibility.


# Technical Architecture
> Add an accessible link to your technical architecture of the to be added / improved product/services.
>
> The technical architecture should go into the specifics on the Stellar integration, demonstrating you have sufficient insight to start building immediately.
>
> We invite you to explore the various tools (CLI, SDK, etc.) provided by LOAM to facilitate your integration on Stellar: https://github.com/loambuild/loam?tab=readme-ov-file
>
> Here are examples
> - https://docs.google.com/document/d/1tXGALHBpMhbATfSnPKARBqctoyGoRPuge4Ukiv8j_Hc/edit?tab=t.0
> - https://github.com/FrankSzendzielarz/SorobanRPCSDK
> => Good one - https://drive.google.com/file/d/167c6KVuyvRo7haInUahDfeMRxkO8gya3/view"	


# SCF Build Tranche Deliverables

> Depending on the scope of your project, importance to the ecosystem, and team, you can request up to $150K in XLM for ~6 months to cover costs directly related to development of the product itself with the final goal being to launch on mainnet. Take a close look at the to determine your total budget request.
>
> You should divide your deliverables into 3 main milestones: Minimum Viable Product (MVP), Testnet, and Mainnet.
>
> Your award will be distributed in 3 equivalent tranches. The first upon approval of the submission, the second upon deliverable review of your MVP, and the third when you launch on Mainnet. The testnet tranche will not unlock an XLM award, but will provide you with access to the Stellar LaunchKit where you can apply for credits for audits and infrastructure offers. For each tranche, include estimated dates of completion, and a budget breakdown for each deliverable.
>
> Common issues:
> 1. SCF funding may not be used for marketing or promotion. Do not include these items in your budget.
>
> 2. Audit credits are provided as part of the testnet tranche completion. Audit costs should not be included in your budget.


## Tranche 1 - MVP

[Deliverable 1]

- Brief description
- How to measure completion
- Estimated date of completion
- Budget

[Deliverable 2]

etc.


## Tranche 2 - Testnet: 

[Deliverable 1]

- Brief description
- How to measure completion
- Estimated date of completion
- Budget

[Deliverable 2]

etc."	


## Tranche 3 - Mainnet: 

[Deliverable 1]

- Brief description
- How to measure completion
- Estimated date of completion
- Budget

[Deliverable 2]

etc."	


# Budget Total
Please note: submission with budgets amounts exceeding the maximum will be denied without review. Find budget guidelines for each award in the SCF Handbook."	
